{% extends "base.twig" %}

{% block content %}
 <tr>A new image was reported on {{ theme.site_name }}.</tr>

 <tr height="35px"><td>
  <a href="{{ theme.web_root }}admin/image/{{ image }}" style="
   padding: 10px 16px;
   font-size: 18px;
   line-height: 1.33;
   border-radius: 6px;
   background-color: {{ theme.button_color }};
   border-color: {{ theme.button_border }};
   color: {{ theme.button_text }};
   text-decoration: none;
  ">
   View Reported Image
  </a>
 </td></tr>

 <tr>IP: <code>{{ theme.remote_addr }}</code></tr>
{% endblock %}
